@charset "utf-8";

/* NotoSans */
@font-face {
    font-family: 'NotoL';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../font/NotoSansCJKkr-Light.woff) format('woff');
}

@font-face {
    font-family: 'NotoDL';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'), url(../font/NotoSansKR-DemiLight-Hestia.eot);
    src: url(../font/NotoSansKR-DemiLight-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-DemiLight-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'NotoR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../font/NotoSansKR-Regular-Hestia.eot);
    src: url(../font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Regular-Hestia.woff) format('woff');
}

@font-face {
    font-family: 'NotoM';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../font/NotoSansKR-Medium-Hestia.eot);
    src: url(../font/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Medium-Hestia.woff) format('woff');
}

/* Roboto */
@font-face {
    font-family: 'RobotoR';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Roboto-Regular.woff) format('woff');
}

@font-face {
    font-family: 'RobotoM';
    font-style: normal;
    font-weight: 500;
    src: url(../font/Roboto-Medium.woff) format('woff');
}

@font-face {
    font-family: 'RobotoB';
    font-style: normal;
    font-weight: 700;
    src: url(../font/Roboto-Medium.woff) format('woff');
}

/* Titillium */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
